@import url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap');
@import 'path.css';

h1 {
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 0;
    color: var(--secondary-color);
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#sourceFilter {
    margin-bottom: 20px;
}

#sourceFilter input[type="checkbox"] {
    margin-right: 10px;
}

#sourceFilter label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: block;
}

#sourceFilterContainer {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
}

#sourceFilterContainer.fadeIn {
    max-height: 500px;
}

#sourceFilterContainer.fadeOut {
    max-height: 0;
}

#addNewSourceContainer {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#addNewSourceContainer.show {
    display: block;
    opacity: 1;
}

#addNewSourceContainer.fadeIn {
    max-height: 200px;
}

#addNewSourceContainer.fadeOut {
    max-height: 0;
}

.new-source-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

footer {
    margin-top: auto;
    margin: 5rem;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding-top: 1rem;
    color: #fcfcfc;
    opacity: 0.8;
    font-weight: bolder;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

.main-content {
    position: relative;
    z-index: 1;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-hover-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
    padding: 13px;
    font-size: 14px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s;
    z-index: 9999;
    pointer-events: auto;
}

#backToTop:hover {
    background-color: var(--primary-color);
    color: var(--primary-hover-color);
}

#loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 9999;
}

.loading-spinner {
    border: 16px solid var(--spinner-border);
    border-top: 16px solid var(--spinner-border-top);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom-button {
    touch-action: manipulation;
}